html {
  height: 100%;
}

body {
  background-image: url('../../img/manlet.png');
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: Helvetica;
  color: #8B1E3F;
  border: 1px solid black;
  border-radius: 10px;
  background: #F0C987;
  margin: 0 auto 0 auto;
  padding: 20px;
  width: 500px;
}

h2 {
  color: #00AB0D;
}

h3 {
  color: rgb(0, 0, 125);
  display: inline-block;
  width: auto;
}

body {
  text-align: center;
  background-color: #ab99bd;
}

.dicks {
  background: white;
  width: 160px;
  margin: 0 auto;
}
