html {
  height:100%;
}
body {
  background-image: url('img/manlet.png');
}
h1 {
  font-size:50px;
  font-weight:bold;
  font-family: Helvetica;
  float:center;
  color:#8B1E3F;
  text-align: center;
  background: none;
  border:1px solid black;
  border-radius: 10px;
  background: #F0C987;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

h2 {
  color:#00AB0D;
}

h3 {
  color: rgb(0,0,125);
  display: inline-block;
  width: auto;
}

body {
  font-family:Verdana;
  list-style-type: square;
  text-align: center;
  color: rebeccapurple;
  background-color: #ab99bd;
  margin-right:200px;
}
